[submodule "exceptions"]
	path = exceptions
	url = https://github.com/VlinderSoftware/meta.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/VlinderSoftware/cmake.git
[submodule "meta"]
	path = meta
	url = https://github.com/VlinderSoftware/meta.git
